# daemon for ipdesk
[Unit]
Description=ipdesk daemon

[Service]
Restart=always
RestartSec=1
ExecStart=/opt/ipdesk/ipdesk.py
ExecStop=/usr/bin/killall -w -s 2 /opt/ipdesk/ipdesk.py

[Install]
WantedBy=default.target
